{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
  <h2>Welcome to the {{ p_title }} Dashboard</h1>
    {% if gender == 'Male' %}
      <p>Greetings Sir</p>
    {% else %}
      <p>Greetings Madamemoiselle</p>
    {% endif %}
{% else %}
  <h2>Welcome to the {{ p_title }} Landing Page</h1>
  <p>Greetings </p>
{% endif %}




{% if author %}
  <p>{{ author }} authored this page</p>
{% else %}
  <p>{{ username }} in charge</p>
{% endif %}

<form action="{% url 'capture_message' %}" method="POST" class="form-control" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" class="col-md-10 form-control" placeholder="messenger's name" name="messenger">
  <br>
  <textarea name="message" id="" class="col-md-10" cols="40" rows="10"></textarea>
  <button type="submit" class="btn btn-outline-primary">Send Message</button>
</form>

{% endblock %}