{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
  <h2>Welcome to the {{ p_title }} Dashboard</h1>
    {% if gender == 'Male' %}
      <p>Greetings Sir</p>
    {% else %}
      <p>Greetings Madamemoiselle</p>
    {% endif %}
{% else %}
  <h2>Welcome to the {{ p_title }} Landing Page</h1>
  <p>Greetings </p>
{% endif %}



{% if author %}
  <p>{{ author }} authored this page</p>
{% else %}
  <p>{{ username }} in charge</p>
{% endif %}


        

{% endblock %}