header{
    background-color: blue;
    color: white;
    min-height: 70px;
    padding-top: 30px;
    
}

.navlink{
    float: right;
    margin-right: 20px;
    

}

header li{
    display: inline;
    padding: 0px 20px;
    font-size: 24px;

}
header a{
    text-decoration: none;
    color: white;
}

#logo {
    color:yellow;
}

.regdiv {
    text-align: center;
}

.regdiv input{
    width: 80%;
    padding: 15px;
    margin: 20px;
    margin-left: 25px;

}

.regdiv select{
    width: 85%;
    padding: 15px;
    margin: 20px;
    margin-left: 25px;

}

#reg_form {
    width: 80%;
    padding: 15px;
}

#signupbtn{
    width: 30%;
    background-color: blue;
    color: white;
}